[Cryptography]
key=7eMl4ub5C9e3Q3lRNur1GJBtR9BBviAeijv3h8rZ6k4=

[Audit]
auditLogPath=logs
fileNamePrefix=QPI_Audit
fileNameIncludeServerName=true

#Uses python strftime pattern directives such as: Y - Year, m - two digit month, d - two digit day, and H - hour, 24 hour format.
#    A new audit file will be created based on this pattern, for example. Including H creates a new file every hour or V for a new file every week
fileNameTSPattern=YmdH

quotechar='
delimiter=,
