[Cryptography]
key=7eMl4ub5C9e3Q3lRNur1GJBtR9BBviAeijv3h8rZ6k4=

[getField]
# Location of the data used for the getField function. Data needs to be in .json format for this example to work.
dataPath=/data/data.json

# Obsfucated data used when the user does not have the appropriate access, as indicated in teh accessPath file.
obfuscatedPath=/data/data.json

# User information to determine whether to show real data (dataPath) or obsfucated data (obsfdataPath)
accessPath=/data/data.json

# Reload frequency can be "H" Hourly, "D" Daily, "#" Minutes, "L" at load. Too frquent can cause performance issues on large data sets.
reloadFrequency=D

[Audit]
auditLogPath=/logs

#NOTE: __SERVERNAME__ is appended to the Prefix, do not use double underscores (__) in your Prefix
fileNamePrefix=QPI_Audit

#Uses python strftime pattern directives such as: Y - Year, m - two digit month, d - two digit day, and H - hour, 24 hour format.
#    A new audit file will be created based on this pattern, for example. Including H creates a new file every hour or V for a new file every week
fileNameTSPattern=YmdH

quotechar='
delimiter=,
